<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd hh:mm:ss a} [%thread] [%highlight(%-5level){TRACE=white,WARN=yellow, INFO=white, ERROR=red}] [%highlight(%logger{36}){WARN=yellow, ERROR=red}] - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
